.home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

.home-hero {
    display: flex;
    justify-content: center;
    max-width: 1320px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    width: 100%;
}

.home-container1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1320px;
    min-height: 85vh;
    position: relative;
    width: 100%;
}

.home-card {
    align-items: flex-start;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, 0.8);
    border-color: #0bdade;
    border-radius: var(--dl-radius-radius-radius1);
    border-width: 5px;
    display: flex;
    flex-direction: column;
    height: 321px;
    justify-content: center;
    left: 2px;
    padding: var(--dl-space-space-tripleunit);
    position: absolute;
    top: 215px;
    width: 665px;
    z-index: 1;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
        0 8px 9px -5px hsla(0, 0%, 8%, 0.06) !important;
}

.home-text {
    color: var(--dl-color-secondary-700);
    left: 58px;
    position: absolute;
    text-align: left;
    top: 36px;
}

.home-feature-card {
    align-items: flex-start;
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    display: flex;
    flex-direction: column;
    height: 213px;
    justify-content: flex-start;
    left: 271px;
    max-width: 1400px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    top: 91px;
    transition: 0.3s;
    width: 200px;
}

.home-feature-card:hover {
    transform: scale(1.02);
}

.home-text1 {
    height: 36px;
    left: 5px;
    position: absolute;
    top: 16px;
    width: 166px;
}

.home-image {
    border-radius: 4px;
    bottom: 7px;
    height: 74px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    width: 186px;
}

.home-text2 {
    position: absolute;
    right: 0px;
    top: 65px;
}

.home-feature-card1 {
    align-items: flex-start;
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    display: flex;
    flex-direction: column;
    height: 213px;
    justify-content: flex-start;
    left: 56px;
    max-width: 1400px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    top: 88px;
    transition: 0.3s;
    width: 200px;
}

.home-feature-card1:hover {
    transform: scale(1.02);
}

.home-text3 {
    height: 36px;
    left: 5px;
    position: absolute;
    top: 16px;
    width: 166px;
}

.home-image1 {
    border-radius: 4px;
    bottom: 7px;
    height: 74px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    width: 186px;
}

.home-text4 {
    position: absolute;
    right: 0px;
    top: 65px;
}

.home-card1 {
    align-items: flex-start;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, 0.8);
    border-color: #0bdade;
    border-radius: var(--dl-radius-radius-radius1);
    border-width: 5px;
    bottom: 72px;
    display: flex;
    flex-direction: column;
    height: 215px;
    justify-content: center;
    left: 2px;
    padding-bottom: var(--dl-space-space-tripleunit);
    padding-top: var(--dl-space-space-tripleunit);
    position: absolute;
    width: 417px;
    z-index: 1;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
        0 8px 9px -5px hsla(0, 0%, 8%, 0.06) !important;
}

.home-text5 {
    top: 13px;
    left: 33px;
    position: absolute;
    font-size: 2rem;
}

.home-link {
    top: 78px;
    left: 65px;
    position: absolute;
}

.home-link1 {
    top: 115px;
    left: 66px;
    position: absolute;
}

.home-link2 {
    top: 155px;
    left: 66px;
    position: absolute;
}

.home-icon {
    top: 82px;
    fill: var(--dl-color-secondary-400);
    left: 24px;
    width: 16px;
    position: absolute;
}

.home-icon2 {
    top: 160px;
    fill: var(--dl-color-secondary-400);
    left: 24px;
    width: 16px;
    position: absolute;
}

.home-icon4 {
    top: 120px;
    fill: var(--dl-color-secondary-400);
    left: 24px;
    width: 16px;
    position: absolute;
}

.home-image2 {
    top: 0px;
    left: auto;
    right: 0px;
    width: 50%;
    bottom: 0px;
    height: 80vh;
    position: absolute;
    object-fit: cover;
    object-position: right;
    border-bottom-left-radius: 10rem;
}

@media (max-width: 991px) {
    .home-hero {
        padding-left: var(--dl-space-space-tripleunit);
        padding-right: var(--dl-space-space-tripleunit);
    }
    .home-container1 {
        max-width: 960px;
    }
    .home-card {
        width: 100%;
    }
    .home-card1 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .home-card {
        align-items: center;
    }
    .home-card1 {
        align-items: center;
    }
    .home-image2 {
        display: none;
    }
}

@media (max-width: 479px) {
    .home-card {
        padding: var(--dl-space-space-unit);
    }
    .home-card1 {
        padding: var(--dl-space-space-unit);
    }
}
